ultralytics
Pillow
fastapi
uvicorn
opencv-python-headless
numpy
transformers
optimum
optimum-intel[openvino]
openvino
requests
python-multipart
PyYAML
ftfy
git+https://github.com/openai/CLIP.git
onnxslim
onnxruntime
websockets
